<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class="stars"></div>


<div class="container">
<h1>Our Journey 🌌</h1>

<a href="/memories"><button>Our Timeline 🌠</button></a>
<a href="/love"><button>Important Question 💖</button></a>
<a href="/puzzle"><button>Memory Puzzle 🧩</button></a>
<a href="/quiz"><button>Quiz About Me 🧠</button></a>

</div>

<div class="stars"></div>

</html>
